* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;

	::selection {
		color: $text-selection-color;
		background-color: $bg-selection-color;
	}
}

:root {
	font-size: $root-fs;
	accent-color: $accent-color;
}

input,
textarea,
button,
select {
	background: none;
	border: none;
	outline: none;
	font: inherit;
	color: inherit;
	-webkit-tap-highlight-color: transparent;
}

input,
textarea {
	&::placeholder {
		font: inherit;
		color: inherit;
	}
}

button {
	cursor: pointer;
}

body,
html {
	height: 100%;
}

body {
	display: flex;
	flex-direction: column;
	color: $base-color;
	font: {
		style: normal;
		weight: $base-fw;
		size: $base-fs;
		family: $base-ff;
	}
}

a {
	text-decoration: none;
	text-decoration-skip-ink: none;
	color: $link;

	&:hover {
		text-decoration: underline;
	}
}

ul,
li {
	list-style: none;
}

img {
	object-fit: cover;
	object-position: center;
	height: auto;
}