$root-fs: 10px!default;
$base-fs: 1.6rem!default;
$base-fw: 400!default;
$base-ff: 'Montserrat', sans-serif!default;
$trn: all .15s ease-in 0s!default;
$base-color: #333;
$accent-color: $color-1;

$color-1: #F8B595;

$link: $base-color;
$link-hover: $color-1;

$trn-1: all .1s ease-in-out 0s;

$shadow-1: rgba(0, 0, 0, 0.15) 0 .5rem 1.5rem 0;
$shadow-2: 0 1.5rem 1.3rem -0.9rem rgba(174, 174, 174, 0.15);
$shadow-3: rgba(120, 120, 120, 0.2) 0 0.2rem 0.8rem 0;

$font-1: 'Dosis', 'Montserrat', sans-serif;