$root-fs: 10px !default;
$base-fs: 1.8rem !default;
$base-fw: 400 !default;
$base-ff: "Nunito Sans", sans-serif !default;
$trn: all 0.15s ease-in 0s !default;
$base-color: #101010;
$main-color: #ff6b00;
$color-1: #ffffff;
$color-2: #808080;
$color-3: #303030;
$color-4: #e1e1e1;
$accent-color: $main-color;

$link: $base-color;

$trn-1: all 0.2s ease-in-out 0s;

$shadow-1: rgba(0, 0, 0, 0.15) 0 0.5rem 1.5rem 0;
$shadow-2: 0 1.5rem 1.3rem -0.9rem rgba(174, 174, 174, 0.15);
$shadow-3: rgba(120, 120, 120, 0.2) 0 0.2rem 0.8rem 0;
