$root-fs: 10px !default;
$base-fs: 1.6rem !default;
$base-fw: 400 !default;
$base-ff: "Segoe UI", sans-serif !default;
$base-trn: all 0.15s ease-in 0s !default;

$base-color: #000000;
$main-color: #ff6500;
$color-1: #ffffff;

$accent-color: $main-color;
$bg-selection-color: $main-color;
$text-selection-color: $color-1;
$link: $base-color;

$trn-1: all 0.225s ease-in-out 0s;

$shadow-1: 0.4rem 0.4rem 0 0 rgba(255, 101, 0, 0.7);
