extends sample/_default

block tools 
	include utils/_mixins

block title
	title Главная

block main
	.block
		.block__inner 
			p.text Далеко-далеко за словесными горами, в стране гласных и согласных живут рыбные тексты. Снова переписали реторический ipsum, инициал родного дорогу, жаренные, заманивший себя букв рукопись решила журчит наш предупредила переписывается лучше меня правилами?
			a(href="#") text
			.block__cards 
				ul 
					li 
						div text1
						div text2