footer.footer 
	.container
		.footer-inner 
			.footer-block 
				.title ООО «ХотСервис»
				.footer-block__contact-details
					ul 
						li
							span.icon.icon-tel
								img(src="img/icons/icon-tel-white.png", width="30")
							ul 
								li 
									a(href="tel:+7 (499) 766-37-81") +7 (499) 766-37-81
								li 
									a(href="tel:+7 (499) 766-37-68") +7 (499) 766-37-68
						li 
							span.icon.icon-email
								img(src="img/icons/icon-email-white.png", width="30")
							ul 
								li
									a(href="mailto:mail@hotservice.su") mail@hotservice.su
						li 
							span.icon.icon-pos
								img(src="img/icons/icon-pos-white.png", width="30")
							ul 
								li 125414, Москва, ул. Клинская, д.6
						li 
							span.icon.icon-time
								img(src="img/icons/icon-time-white.png", width="30")
							ul 
								li <b>Пн-Пт 9:00</b> - 18:00 
								li <b>Сб-Вс</b> Выходной
								li

			.footer-block
				.footer-menu
					a(href="/") каталог товаров
					ul 
						li
							a(href="/") Расходомеры и водосчетчики
						li
							a(href="/") Тепловычислители
						li
							a(href="/") Теплосчетчики
						li
							a(href="/") Контрольно-измерительные приборы и оборудование
						li
							a(href="/") Клапаны
						li
							a(href="/") Регуляторы давления
						li
							a(href="/") Шкафы автоматики
						li
							a(href="/") Запорная арматура и фильтры
						li
							a(href="/") Насосы
						li
							a(href="/") Теплообменники
						li
							a(href="/") Блочные тепловые пункты
						li
							a(href="/") Баки
						li
							a(href="/") Гидроэлеваторы
						li
							a(href="/") Балансировочные клапаны
						li
							a(href="/") Контроллеры потребления
						li
							a(href="/") Сопутствующее оборудование

			.footer-block
				.footer-menu
					a(href="/") о компании
					ul 
						li
							a(href="/") О компании
						li
							a(href="/") Монтаж
						li
							a(href="/") Клиентам
						li
							a(href="/") Цены
						li
							a(href="/") Документация
						li
							a(href="/") Контакты