header.header 
	.header-block-address
		.container
			.header-inner
				a.logo.header-logo.icon(href="#") 
					img(src="img/logo.png" width="400" draggable='false')
				.header-info.d-none.d-lg-flex 
					.header-info-block.header-info-block--time
						span.icon.icon-time 
							img(src="img/icons/icon-time.png" width="30")

						.header-info-block__content 
							div Время работы
							ul 
								li <b>Пн-Пт 9:00</b> - 18:00 
								li <b>Сб-Вс</b> Выходной
					.header-info-block.header-info-block--map
						span.icon.icon-pos
							img(src="img/icons/icon-pos.png" width="30")

						.header-info-block__content 
							div Москва
							ul 
								li 125414, ул. Клинская, д.6 
					.header-info-block.header-info-block--tel
						ul 
							li 
								span.icon.icon-tel 
									img(src="img/icons/icon-tel.png" width="30")

								.header-info-block__content 
									div 
										ul 
											li 
												a(href="tel:+7 (499) 766-37-81") +7 (499) 766-37-81
											li 
												a(href="tel:+7 (499) 766-37-68") +7 (499) 766-37-68
							li 
								.header-info-block.header-info-block--email
									span.icon.icon-email 
										img(src="img/icons/icon-email.png" width="30")

									.header-info-block__content
										a(href="mailto:mail@hotservice.su") mail@hotservice.su

	.header-block-nav 
		.container 
			.header-inner
				.header-menu 
					button.header-menu__heading(type='button')
						span.icon.icon-burger-menu
							<svg xmlns="http://www.w3.org/2000/svg" width="30" height="14" viewBox="0 0 30 14" fill="none">
								<line y1="7" x2="30" y2="7" stroke="white" stroke-width="2"/>
								<line y1="13" x2="30" y2="13" stroke="white" stroke-width="2"/>
								<line y1="1" x2="30" y2="1" stroke="white" stroke-width="2"/>
							</svg>
						div.header-menu__title каталог оборудования
						span.icon.icon-arr-down
							<svg xmlns="http://www.w3.org/2000/svg" width="10" height="4" viewBox="0 0 10 4" fill="none">
								<path d="M5 4L0.669872 0.25L9.33013 0.25L5 4Z" fill="white"/>
							</svg>
					.header-menu__dropdown
						ul 
							li 
								a(href="#") о компании
							li 
								a(href="#") документация
							li 
								a(href="#") клиентам
							li 
								a(href="#") контакты

				nav.navigation.header-nav.d-none.d-xl-block
					ul 
						li 
							a(href="#") о компании
						li
							a(href="#") документация
						li
							a(href="#") клиентам
						li
							a(href="#") контакты
						li
							button.header-nav__btn-search(type='button' data-action='open-search')
								|поиск
								<svg class='icon icon-loupe' xmlns="http://www.w3.org/2000/svg" width='14' height='14' viewBox="0 0 14 14">
									<g clip-path="url(#clip0_347_964)">
										<path d="M7.40342 3.20333C6.84243 2.6424 6.09666 2.33347 5.30336 2.3335C4.95189 2.3335 4.66699 2.61842 4.66699 2.96987C4.66705 3.32134 4.95191 3.60624 5.30339 3.60624C5.7567 3.60624 6.18285 3.78271 6.5034 4.10329C6.82395 4.42384 7.00045 4.85 7.00045 5.30327C7.0004 5.65472 7.28532 5.93967 7.63677 5.93967C7.63682 5.93967 7.63682 5.93967 7.63682 5.93967C7.98822 5.93967 8.27314 5.6548 8.27319 5.30336C8.27322 4.51009 7.96435 3.76426 7.40342 3.20333Z"/>
										<path d="M13.8136 12.9137L9.47453 8.57462C10.1833 7.67285 10.6065 6.53652 10.6065 5.30324C10.6065 2.37904 8.22746 0 5.30321 0C5.30313 0 5.30321 0 5.30313 0C3.88664 0 2.55484 0.55166 1.55329 1.55323C0.551605 2.55492 0 3.88667 0 5.30324C0 8.22746 2.37902 10.6065 5.30321 10.6065C6.5365 10.6065 7.67285 10.1833 8.57459 9.47455L12.9136 13.8136C13.0379 13.9379 13.2008 14 13.3636 14C13.5265 14 13.6894 13.9379 13.8136 13.8136C14.0622 13.5651 14.0622 13.1622 13.8136 12.9137ZM5.30321 9.33376C3.08082 9.33376 1.27274 7.52568 1.27274 5.30324C1.27274 4.22663 1.69198 3.21448 2.45323 2.45323C3.21448 1.69192 4.22661 1.27274 5.30321 1.27274C7.52568 1.27274 9.33376 3.08082 9.33376 5.30327C9.33376 7.52571 7.52568 9.33376 5.30321 9.33376Z"/>
									</g>
									<defs>
										<clipPath id="clip0_347_964">
											<rect width="14" height="14"/>
										</clipPath>
									</defs>
								</svg>

				.header-nav__burger-menu.d-flex.d-xl-none
					button.icon.icon-burger-menu(data-open-menu).d-inline-flex.d-xl-none(type='button')
						<svg xmlns="http://www.w3.org/2000/svg" width="30" height="14" viewBox="0 0 30 14" fill="none">
							<line y1="7" x2="30" y2="7" stroke="white" stroke-width="2"/>
							<line y1="13" x2="30" y2="13" stroke="white" stroke-width="2"/>
							<line y1="1" x2="30" y2="1" stroke="white" stroke-width="2"/>
						</svg>
					button.icon.icon-burger-menu.d-none.d-xl-inline-flex(type='button')
						<svg xmlns="http://www.w3.org/2000/svg" width="30" height="14" viewBox="0 0 30 14" fill="none">
							<line y1="7" x2="30" y2="7" stroke="white" stroke-width="2"/>
							<line y1="13" x2="30" y2="13" stroke="white" stroke-width="2"/>
							<line y1="1" x2="30" y2="1" stroke="white" stroke-width="2"/>
						</svg>
